<section class="about_tools">
    <div class="tools_wrapper-one">
        <h2>
            Easy integrations with 170+ tools
        </h2>
        <p>
            Connect Landify with your favourite tools that you use daily and keep things on track.
        </p>
    </div>
    <div class="tools_wrapper-two">
        <div class="tools_wrapper_vector">
            <div class="tools_vector">
                <div class="tools_block-img">
                    <img src="../img/pictures/clien-logo-mark1.png" alt="logo clients">
                    <img src="../img/pictures/clien-logo-mark2.png" alt="logo clients">
                    <img src="../img/pictures/clien-logo-mark3.png" alt="logo clients">
                    <img src="../img/pictures/clien-logo-mark4.png" alt="logo clients">
                </div>
                <div class="tools_block-img">
                    <img src="../img/pictures/clien-logo-mark5.png" alt="logo clients">
                    <img src="../img/pictures/clien-logo-mark6.png" alt="logo clients">
                    <img src="../img/pictures/clien-logo-mark7.png" alt="logo clients">
                </div>
            </div>
        </div>
    </div>
</section>