<section class="features">

    <h2 class="features_title">
        Tailor-made features
    </h2>
    <p class="features_subtitle">
        Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual
        presentation.
    </p>

    <div class="features_wrapper">
        <div class="features_wrapper-row">
            <div class="feature_item">
                <img src="../img/pictures/feature-icon1.svg" alt="icon">
                <h3 class="feature_item-title">Robust workflow</h3>
                <p class="feature_item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
            <div class="feature_item">
                <img src="../img/pictures/feature-icon2.svg" alt="icon">
                <h3 class="feature_item-title">Flexibility</h3>
                <p class="feature_item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
            <div class="feature_item">
                <img src="../img/pictures/feature-icon3.svg" alt="icon">
                <h3 class="feature_item-title">User friendly</h3>
                <p class="feature_item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
        </div>

        <div class="features_wrapper-row">
            <div class="feature_item">
                <img src="../img/pictures/feature-icon4.svg" alt="icon">
                <h3 class="feature_item-title">Multiple layouts</h3>
                <p class="feature_item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
            <div class="feature_item">
                <img src="../img/pictures/feature-icon5.svg" alt="icon">
                <h3 class="feature_item-title">Better components</h3>
                <p class="feature_item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
            <div class="feature_item">
                <img src="../img/pictures/feature-icon6.svg" alt="icon">
                <h3 class="feature_item-title">Well organised</h3>
                <p class="feature_item-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
                    tristique ipsum.</p>
            </div>
        </div>

    </div>

</section>