<footer class="footer">
    <div class="footer_container">

        <div class="footer_wrapper1">
            <div class="footer_logo">
                <img src="../img/svg/logo.svg" alt="logo">
            </div>
            <ul class="list_link_top">
                <li><a href="#">Download Now</a></li>
                <li><a href="#">License</a></li>
            </ul>
            <ul class="list_link_bottom">
                <li><a href="#">About</a></li>
                <li><a href="#">Features </a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <p class="footer_privacy">© 2021 Landify UI Kit. All rights reserved</p>
        </div>
        <div class="footer_wrapper2">
            <div class="mobile_applications-btn">
                <p>Get the App</p>
                <div class="hero_nav_vector footer-btn">
                    <button class=" btn_vector btn_google">
                        <!-- <img src="../img/pictures/Google-Play-logo.png" alt="google"> -->
                    </button>
                    <button class="btn_vector btn_apple">
                        <!-- <img src="../img/pictures/Apple-logo.png" alt="apple"> -->
                    </button>
                </div>

            </div>
        </div>

    </div>
</footer>