<div class="responsive_cards">
  <h1>responsive cards</h1>
  <div class="card_block">
    <div class="card card_1">
      <img src="./img/pictures/img1.jpg" alt="img">
      <h2>Lviv</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatum, voluptates, repellendus soluta voluptate.</p>
    </div>
    <div class="card card_2">
      <img src="./img/pictures/img2.jpg" alt="img">
      <h2>Dnipro</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero placeat accusantium? Maiores molestiae ratione fugiat earum harum.</p>
    </div>
    <div class="card card_3">
      <img src="./img/pictures/img3.jpg" alt="img">
      <h2>Rivne</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero placeat accusantium? Maiores molestiae ratione fugiat earum harum.</p>
    </div>
  </div>
</div>