<div class="responsive_cards">
    <h1>responsive cards</h1>
    <div class="card_block">
        <div class="card_1">
            <img src="./img/pictures/img1.jpg" alt="img">
            <h2></h2>
            <p></p>
        </div>
        <div class="card_2">
            <img src="./img/pictures/img2.jpg" alt="img">
            <h2></h2>
            <p></p>
        </div>
        <div class="card_3">
            <img src="./img/pictures/img3.jpg" alt="img">
            <h2></h2>
            <p></p>
        </div>
    </div>
</div>