<section class="logo_clouds">
    <ul class="logo_clouds_list">
        <li><img src="../img/pictures/clien-logo-airbnb.png" alt="airbnb"></li>
        <li><img src="../img/pictures/clien-logo-hubspot.png" alt="hubspot"></li>
        <li><img src="../img/pictures/clien-logo-google.png" alt="google"></li>
        <li><img src="../img/pictures/clien-logo-microsoft.png" alt="microsoft"></li>
        <li><img src="../img/pictures/clien-logo-walmart.png" alt="walmart"></li>
        <li><img src="../img/pictures/clien-logo-fedex.png" alt="fedex"></li>
    </ul>
</section>