<section class="metrics">

    <div class="metrics_wrapper-one">
        <h2>Our 18 years of achievements</h2>
        <p>With our super powers we have reached this</p>
    </div>
    <div class="metrics_wrapper-two">
        <div class="metrics_card-top">
            <div class="metrics_card">
                <div class="metrics_card-img">
                    <img src="../img/pictures/feature-icon1.svg" alt="icon">
                </div>
                <div class="metrics_card-text">
                    <p>10,000+</p>
                    <span>Downloads per day</span>
                </div>
            </div>
            <div class="metrics_card">
                <div class="metrics_card-img">
                    <img src="../img/pictures/feature-icon4.svg" alt="icon">
                </div>
                <div class="metrics_card-text">
                    <p>500+</p>
                    <span>Clients</span>
                </div>
            </div>
        </div>

        <div class="metrics_card-bottom">
            <div class="metrics_card">
                <div class="metrics_card-img">
                    <img src="../img/pictures/feature-icon5.svg" alt="icon">
                </div>
                <div class="metrics_card-text">
                    <p>2 Million</p>
                    <span>Users</span>
                </div>
            </div>
            <div class="metrics_card">
                <div class="metrics_card-img">
                    <img src="../img/pictures/feature-icon8.svg" alt="icon">
                </div>
                <div class="metrics_card-text">
                    <p>140</p>
                    <span>Countries</span>
                </div>
            </div>
        </div>
    </div>

</section>