<section class="mobile_applications">
    <div class="applications_container">

        <div class="mobile_applications_wrapper1">
            <div class="mobile_applications-text">
                <h2>Manage all projects from your mobile</h2>
                <p>Download the app to manage your projects, keep track of the progress and complete tasks without
                    procastinating. Stay
                    on
                    track and complete on time!</p>
            </div>

            <div class="mobile_applications-btn">
                <p class="applications-btn">Get the App</p>
                <div class="hero_nav_vector">
                    <button class=" btn_vector btn_google">
                        <!-- <img src="../img/pictures/Google-Play-logo.png" alt="google"> -->
                    </button>
                    <button class="btn_vector btn_apple">
                        <!-- <img src="../img/pictures/Apple-logo.png" alt="apple"> -->
                    </button>
                </div>

            </div>
        </div>

        <div class="mobile_applications_wrapper2">
            <div class="mobile_applications_img1"><img src="../img/pictures/phone-mockup-footer.png"
                    alt="phone-mockup-footer"></div>
            <div class="mobile_applications_img2"><img src="../img/pictures/phone-mockup-footer2.png"
                    alt="phone-mockup-footer"></div>
        </div>

    </div>
</section>