<section class="testimonial">
    <div class="testimonial_container">

        <div class="testomonial_wrapper-one">
            <div class="testimonial_text">
                <h2>Real Stories from Real Customers</h2>
                <p>Get inspired by these stories.</p>
            </div>
            <div class="testemonial_quote_card one_card">
                <img class="testemonial_logo" src="../img/pictures/clien-logo-hubspot.png" alt="hubspot">
                <blockquote class="testemonial_quote">
                    To quickly start my startup landing page design, I was looking for a landing page UI Kit. Landify is
                    one
                    of the best
                    landing page UI kit I have come across. It’s so flexible, well organised and easily editable.
                    <p class="quote_title">Floyd Miles</p>
                    <span class="quote_subtitle">Vice President, GoPro</span>
                </blockquote>
            </div>
        </div>
        <div class="testomonial_wrapper-two">
            <div class="testemonial_quote_card two_card">
                <img class="testemonial_logo" src="../img/pictures/clien-logo-airbnb.png" alt="airbnb">
                <blockquote class="testemonial_quote">
                    I used landify and created a landing page for my startup within a week. The Landify UI Kit is simple
                    and
                    highly
                    intuitive, so anyone can use it.
                    <p class="quote_title">Jane Cooper</p>
                    <span class="quote_subtitle">CEO, Airbnb</span>
                </blockquote>
            </div>
            <div class="testemonial_quote_card one_card three_card">
                <img class="testemonial_logo" src="../img/pictures/clien-logo-strapi.png" alt="strapi">
                <blockquote class="testemonial_quote">
                    Landify saved our time in designing my company page.
                    <p class="quote_title">Kristin Watson</p>
                    <span class="quote_subtitle">Co-Founder, Strapi</span>
                </blockquote>

            </div>
        </div>

    </div>
</section>